<nav class="navbar-x navbar-light">
    <a class="navbar-brand" href="#"><img src="/images/oxygen.svg"></a>
    <button class="navbar-toggler hidden-sm-up pull-xs-right" type="button" data-toggle="collapse" data-target="#navs">
        &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs" id="navs">
        <ul class="nav navbar-nav pull-sm-right">
            <li class="nav-item-x active">
                <a class="nav-link-x" href="#">Главная <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item-x">
                <a class="nav-link-x" href="#">Возможности</a>
            </li>
            <li class="nav-item-x">
                <a class="nav-link-x" href="#">Цены</a>
            </li>
            <li class="nav-item-x">
                <a class="nav-link-x" href="#">О нас</a>
            </li>
        </ul>
    </div>
</nav>