<div class="row">
    <div class="col-sm-8 col-sm-offset-2 alert alert-warning text-sm-center">
        <h3>Сервис в разработке</h3>
        <p>В настоящее время мы занимаемся разработкой. Совсем скоро здесь будет классно.</p>
    </div>
</div>