<!DOCTYPE html>
<html>
  <head>
    <title>adflare - <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/app.css' />
      <link href='https://fonts.googleapis.com/css?family=Play:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css' />
  </head>
  <body>
    <div class="container-fluid">
        <%- include partials/nav.ejs %>
        <%- include partials/works.ejs %>
    </div>
  </body>
</html>
