<!DOCTYPE html>
<html>
  <head>
    <title>adflare - <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/app.css' />
      <link href='https://fonts.googleapis.com/css?family=Play:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css' />
  </head>
  <body>
    <div class="container-fluid">
        <%- include partials/nav.ejs %>
        <%- include partials/works.ejs %>
        <div class="row">
            <div class="col-sm-12 text-sm-center">
                <h2>Мы убрали из бэкенда все лишнее</h2>
            </div>
        </div>
    </div>

    <%- include partials/scripts.ejs %>
  </body>
</html>
