@mixin centerer($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}

#login {
  @include centerer();
  border: 1px solid black;
  border-radius: 5px;
  height: 50%;
  width: 25%;
  #login-head {
    background: lightskyblue;
  }
  #login-form {
    margin-top: 3rem;
  }
}