@import '../../bower_components/bootstrap/scss/bootstrap';
@import 'appsubs';
* {
  font-family: 'Play', sans-serif !important;
}
.navbar-x {
  @extend .navbar;
  background: none;
  .navbar-brand {
    font-size: xx-large;
    font-weight: bold;
  }
}